[flake8]
show-source=true
statistics=true
max-line-length = 80
per-file-ignores =
    # line too long
    valle/bin/trainer.py: E501, E402,
    valle/bin/infer.py: E501, E402,
    valle/bin/tokenizer.py: E501, E402,
    valle/models/*.py: E501, E203,
    valle/models/__init__.py: F401, E501
    valle/utils/__init__.py: F401,
    valle/__init__.py: F401,
    valle/modules/__init__.py: F401,
    valle/modules/activation.py: E501,
    valle/modules/embedding.py: E203,
    valle/modules/scheduler.py: F401,
    valle/modules/transformer.py: E501,
    valle/modules/scaling.py: E501, F841, F401
    valle/data/fbank.py: E501,
    valle/data/input_strategies.py: E501,
    valle/data/datamodule.py: E501,
    valle/tests/*.py: F841, F401
    valle/tests/data/*.py: F841, F401

exclude =
  .git,
  egs/**/data/**,
  setup.py,
  valle/utils/symbol_table.py,
  valle/modules/optim.py,
