[flake8]
show-source=true
statistics=true
max-line-length = 80
per-file-ignores =
    # line too long
    valle/bin/trainer.py: E501, E402,
    valle/bin/infer.py: E501, E402,
    valle/modules/model.py: E501, E203,
    valle/utils/__init__.py: F401,
    valle/__init__.py: F401,
    valle/modules/__init__.py: F401,
    valle/modules/embedding.py: E203,
    valle/bin/tokenizer.py: E501,
    valle/modules/transformer.py: E501,

exclude =
  .git,
  egs/**/data/**,
  setup.py,
  valle/utils/symbol_table.py,
  valle/modules/optim.py,
