[flake8]
show-source=true
statistics=true
max-line-length = 80
per-file-ignores =
    # line too long
    valle/bin/train.py: E501,
    valle/modules/model.py: E501,

exclude =
  .git,
  **/data/**,
  setup.py,
