{
  "train_micro_batch_size_per_gpu": 1,
  "gradient_accumulation_steps": 1,
  "steps_per_print": 1000,
  "fp16": {
    "enabled": true,
    "auto_cast": false,
    "loss_scale": 0,
    "initial_scale_power": 4,
    "loss_scale_window": 1000,
    "hysteresis": 2,
    "min_loss_scale": 1
  },
  "optimizer": {
    "type": "Adam",
    "params": {
      "lr": 0.001,
      "betas": [
        0.9,
        0.999
      ],
      "eps": 1e-8,
      "weight_decay": 1e-2
    }
  },
 "scheduler": {
    "type": "WarmupLR",
    "params": {
      "warmup_min_lr": 0,
      "warmup_max_lr": 0.00005,
      "warmup_num_steps": 32000
    }
  },
  "zero_optimization": {
    "stage": 2,
    // "reduce_bucket_size": 10000,
    // "allgather_bucket_size": 10000,
    "reduce_bucket_size": 4000,
    "allgather_bucket_size": 4000,
    "contiguous_gradients": false,
    "offload_optimizer": {
        "device": "cpu"
    }
  },
  "overlap_comm": false,
  "zero_allow_untested_optimizer": true,
  "activation_checkpointing": {
    "partition_activations": false,
    // "contiguous_memory_optimization": true,
    "cpu_checkpointing": true
  }
}
